gen
_site
bin
bin/*
gen/*
.idea
*.iml
*.ipr
*.iws
*.swp
*.class
*.log
out/
test/build
local.properties
target
.gradle
build
jarlist.cache
tmp
*.*~
gradle-app.setting
images/*/*.png
app/src/main/resources/li/klass/fhem/connection/backend/test.xml
_site
.sass-cache
.vagrant
.DS_Store
Thumbs.db
ehthumbs.db
