gen
bin
bin/*
gen/*
log
.idea
*.iml
*.ipr
*.iws
*.swp
*.class
*.log
*.txt
out/
test/build
local.properties
target
.gradle
build
jarlist.cache
tmp
*.*~
gradle-app.setting
images/*/*.png
app/src/main/resources/li/klass/fhem/fhem/test.xml
