<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ AndFHEM - Open Source Android application to control a FHEM home automation
  ~ server.
  ~
  ~ Copyright (c) 2011, Matthias Klass or third-party contributors as
  ~ indicated by the @author tags or express copyright attribution
  ~ statements applied by the authors.  All third-party contributions are
  ~ distributed under license by Red Hat Inc.
  ~
  ~ This copyrighted material is made available to anyone wishing to use, modify,
  ~ copy, or redistribute it subject to the terms and conditions of the GNU GENERAL PUBLIC LICENSE, as published by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU GENERAL PUBLIC LICENSE
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU GENERAL PUBLIC LICENSE
  ~ along with this distribution; if not, write to:
  ~   Free Software Foundation, Inc.
  ~   51 Franklin Street, Fifth Floor
  ~   Boston, MA  02110-1301  USA
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="li.klass.fhem"
          android:versionCode="25"
          android:versionName="1.2.4">

    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="AndFHEMApplication"
                 android:theme="@android:style/Theme.Light.NoTitleBar">

        <activity android:name=".activities.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.RoomListActivity" />
        <activity android:name=".activities.devicelist.RoomDetailActivity" android:theme="@android:style/Theme.Light" />
        <activity android:name=".activities.devicelist.AllDevicesActivity" />
        <activity android:name=".activities.devicelist.FavoritesActivity" />
        <activity android:name=".activities.PreferencesActivity" />

        <activity android:name=".activities.deviceDetail.KS300DeviceDetailActivity" android:theme="@android:style/Theme.Light" />
        <activity android:name=".activities.deviceDetail.FHTDeviceDetailActivity" android:theme="@android:style/Theme.Light" />
        <activity android:name=".activities.deviceDetail.HMSDeviceDetailActivity" android:theme="@android:style/Theme.Light" />
        <activity android:name=".activities.deviceDetail.FS20DeviceDetailActivity" android:theme="@android:style/Theme.Light" />
        <activity android:name=".activities.deviceDetail.CULWSDeviceDetailActivity" android:theme="@android:style/Theme.Light" />
        <activity android:name=".activities.deviceDetail.OregonDeviceDetailActivity" android:theme="@android:style/Theme.Light" />
        <activity android:name=".activities.deviceDetail.USBWXDeviceDetailActivity" android:theme="@android:style/Theme.Light" />
        <activity android:name=".activities.deviceDetail.CULHMDeviceDetailActivity" android:theme="@android:style/Theme.Light" />

        <activity android:name=".activities.fhtControl.FHTTimetableControlListActivity" android:theme="@android:style/Theme.Light" />

        <activity android:name=".activities.graph.ChartingActivity"/>
        <activity android:name=".activities.graph.ChartingDateSelectionActivity"/>


        <activity android:name=".appwidget.toggle.ToggleConfigurationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver android:name=".appwidget.toggle.ToggleProvider" android:label="@string/widgetToggle">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidgetprovider_switch" />
        </receiver>

        <service android:name=".service.intent.RoomListIntentService">
            <intent-filter>
                <action android:name="li.klass.fhem.constants.Actions.ALL_ROOMS_DEVICE_LIST" />
                <action android:name="li.klass.fhem.constants.Actions.GET_ROOM_NAME_LIST" />
                <action android:name="li.klass.fhem.constants.Actions.GET_ROOM_DEVICE_LIST" />
                <action android:name="li.klass.fhem.constants.Actions.GET_DEVICE_FOR_NAME" />
            </intent-filter>
        </service>

        <service android:name=".service.intent.FavoritesIntentService">
            <intent-filter>
                <action android:name="li.klass.fhem.constants.Actions.GET_FAVORITE_LIST" />
                <action android:name="li.klass.fhem.constants.Actions.ADD_FAVORITE" />
                <action android:name="li.klass.fhem.constants.Actions.REMOVE_FAVORITE" />
            </intent-filter>
        </service>

        <service android:name=".service.intent.DeviceIntentService">
            <intent-filter>
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_GRAPH"/>
                <action android:name="li.klass.fhem.constants.Actions.TOGGLE_STATE" />
                <action android:name="li.klass.fhem.constants.Actions.SET_STATE" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_DIM" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_SET_MODE" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_SET_DAY_TEMPERATURE" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_SET_NIGHT_TEMPERATURE" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_SET_WINDOW_OPEN_TEMPERATURE" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_SET_TIMETABLE" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_RESET_TIMETABLE" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_SET_DESIRED_TEMPERATURE" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_RENAME" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_DELETE" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_MOVE_ROOM" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_SET_ALIAS" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens android:xlargeScreens="true"
                      android:anyDensity="true"
                      android:largeScreens="true"
                      android:normalScreens="true"
                      android:smallScreens="false" />

    <uses-sdk android:minSdkVersion="7" />
</manifest>
