<?xml version="1.0" encoding="utf-8"?><!--
  ~ AndFHEM - Open Source Android application to control a FHEM home automation
  ~ server.
  ~
  ~ Copyright (c) 2011, Matthias Klass or third-party contributors as
  ~ indicated by the @author tags or express copyright attribution
  ~ statements applied by the authors.  All third-party contributions are
  ~ distributed under license by Red Hat Inc.
  ~
  ~ This copyrighted material is made available to anyone wishing to use, modify,
  ~ copy, or redistribute it subject to the terms and conditions of the GNU GENERAL PUBLIC LICENSE, as published by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU GENERAL PUBLIC LICENSE
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU GENERAL PUBLIC LICENSE
  ~ along with this distribution; if not, write to:
  ~   Free Software Foundation, Inc.
  ~   51 Franklin Street, Fifth Floor
  ~   Boston, MA  02110-1301  USA
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.touchscreen" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".AndFHEMApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/ApplicationTheme">
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2659219871370009~5714990385" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value="li.klass.fhem.search.SearchResultsActivity" />

        <provider
            android:name=".search.MySearchSuggestionsProvider"
            android:authorities="${applicationId}.MySearchSuggestionsProvider"
            android:exported="false" />

        <provider
            android:name=".file.provider.AndFHEMFileProvider"
            android:authorities="${applicationId}.AndFHEMFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.StartupActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AndFHEMMainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <nav-graph android:value="@navigation/nav_graph" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".activities.PremiumActivity"
            android:exported="false"
            android:label="@string/premium" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:label="@string/preferences"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".activities.CommandIndicatorActivity"
            android:exported="false"
            android:theme="@style/transparentDialogTheme" />
        <activity
            android:name=".graph.ui.GraphActivity"
            android:exported="false" />
        <activity
            android:name=".graph.ui.ChartingDateSelectionActivity"
            android:exported="false" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false" />
        <activity
            android:name=".appwidget.ui.selection.SmallWidgetSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appwidget.ui.selection.MediumWidgetSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appwidget.ui.selection.BigWidgetSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".appwidget.provider.SmallAppWidgetProvider"
            android:exported="true"
            android:label="@string/widget_small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/andfhem_appwidget_small" />
        </receiver>
        <receiver
            android:name=".appwidget.provider.MediumAppWidgetProvider"
            android:exported="true"
            android:label="@string/widget_medium">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/andfhem_appwidget_medium" />
        </receiver>
        <receiver
            android:name=".appwidget.provider.BigAppWidgetProvider"
            android:exported="true"
            android:label="@string/widget_big">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/andfhem_appwidget_big" />
        </receiver>

        <receiver
            android:name=".appwidget.action.AppWidgetActionBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_WIDGET_TOGGLE" />
                <action android:name="li.klass.fhem.constants.Actions.DEVICE_WIDGET_TARGET_STATE" />
                <action android:name="li.klass.fhem.constants.Actions.WIDGET_REQUEST_UPDATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.intent.ExternalApiService"
            android:exported="true"
            android:permission="li.klass.fhem.permissions.EXTERNAL">
            <intent-filter>
                <action android:name="li.klass.fhem.constants.Actions.EXT_DEVICE_NAMES" />
            </intent-filter>
        </service>
        <service
            android:name=".appwidget.update.AppWidgetListViewUpdateRemoteViewsService"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".alarm.clock.update.AlarmClockIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="li.klass.fhem.constants.Actions.NEXT_ALARM_CLOCK" />
                <action android:name="li.klass.fhem.constants.Actions.SCHEDULE_ALARM_CLOCK_UPDATE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.intent.RoomListUpdateIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="li.klass.fhem.constants.Actions.DO_REMOTE_UPDATE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.intent.NotificationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="li.klass.fhem.constants.Actions.NOTIFICATION_SET_FOR_DEVICE" />
                <action android:name="li.klass.fhem.constants.Actions.NOTIFICATION_GET_FOR_DEVICE" />
            </intent-filter>
        </service>

        <service
            android:name=".device.control.AndroidControlsProviderService"
            android:exported="true"
            android:permission="android.permission.BIND_CONTROLS">
            <intent-filter>
                <action android:name="android.service.controls.ControlsProviderService" />
                <action android:name="li.klass.fhem.constants.Actions.REMOTE_DEVICES_UPDATED" />
            </intent-filter>
        </service>

        <service
            android:name=".appindex.AppIndexIntentService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.APPINDEXING">
            <intent-filter>
                <action android:name="com.google.firebase.appindexing.UPDATE_INDEX" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.locale.condition.query.ConditionQueryLocaleSettingActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/localeDeviceState">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.locale.SendCommandLocaleSettingActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/localeSendCommandPlugin">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.locale.ConnectionChangeLocaleSettingActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/localeConnectionChangePlugin">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".activities.locale.ConditionQueryLocaleReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".activities.locale.FireSettingLocaleReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <service
            android:name=".fcm.receiver.FcmIntentService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="de.duenndns.ssl.MemorizingActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>